body {
    background-color: rgb(188, 231, 235);
}
.calc_simples {
    background-color: rgb(33, 25, 141);
    padding: 15px;
    width: 140px;
    border-radius: 10px;
}
.display_simples {
    background-color: rgb(16, 128, 143);
    width: 100%;
    text-align: center;
}
#resultado {
    background-color: rgb(177, 165, 165);
    color: black;
    width: 100px;

}
.btn {
    width: 150px;
    height: 130px;
    padding: 2px;
}
button {
    width: 30px;
    height: 25px;
    padding: 3px;
    color: black;
    margin-top: 2px;
}
#igual {
    background-color:rgb(16, 128, 143);
    color: white;
}